<h1> My Website </h1>

<form class="example-form">
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Favorite food" value="Sushi">
  </md-form-field>
</form>

<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/images/shiba2.jpg" alt="Photo of a Shiba Inu">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button (click)="clickLike()" md-button>Like</button>
    <button (click)="clickShare()" md-button>Share</button>
  </md-card-actions>
</md-card>





<router-outlet></router-outlet>
